@model DiegoMoyanoProject.ViewModels.UserData.IndexOwnerUserDataViewModel;
@using System.ComponentModel;
<div class="container text-center">
    <h1 class="display-4">Datos de Usuario de @Model.SelectedDate.ToString("MMMM") de @Model.SelectedDate.ToString("yyyy")</h1>
</div>
<div class="gallery container row" onclick="openLightbox(event)">
    @foreach (var img in Model.Images)
    {
        <div class="container text-center col-lg-4 col-md-6 col-sm-12">
            @if (img.Blob64img != null && img.Blob64img != "")
            {

                <img src="@img.Blob64img"
                     alt="@img.ImageType.ToString()" class="img-fluid rounded border border-dark">
            }
            else
            {
                <img src="~/img/UserData/noImage.jpg"
                     alt="No image" class="img-fluid rounded border border-dark">
            }
            <h5 class="text-primary font-weight-bold">@img.GetImageTypeDescription()</h5>
            <ul class="action-list list-unstyled list-inline">
                @if (img.Blob64img != null)
                {
                    <li><a asp-controller="UserData" asp-action="UpdateImageForm" asp-route-type="@img.ImageType" asp-route-date="@Model.SelectedDate" data-tip="edit" class="list-inline-item"><i class="fa fa-edit" aria-hidden="true"></i></a></li>
                    <li><a asp-controller="UserData" asp-action="Delete" asp-route-date="@Model.SelectedDate.ToShortDateString()" asp-route-type="@img.ImageType" data-tip="delete" class="list-inline-item"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                }
                else
                {
                    if (Model.Dates.Count() > 0)
                    {
                        <li><a asp-controller="UserData" asp-action="UpdateImageForm" asp-route-type="@img.ImageType" asp-route-date="@Model.SelectedDate" data-tip="edit" class="list-inline-item"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
                    }
                }
            </ul>
        </div>
    }
    <div class="container text-center col-12">
        <ul class="list-group list-unstyled d-flex flex-row flex-wrap justify-content-center">
            <li class="border m-2 border-primary rounded"><a asp-controller="UserData" asp-action="Upload" asp-route-date="@DateTime.Today.ToShortDateString()" class="text-decoration-none list-group-item btn btn-outline-warning btn-lg px-5 py-3 fs-6 fw-bolder">Agregar nuevos datos</a></li>
        </ul>
    </div>
    @if (Model.Dates.Count() > 0)
    {
        <div class="container text-center" id="dates-container3">
            <ul class="list-group list-unstyled d-flex flex-row flex-wrap justify-content-center">
                @foreach (var date in Model.Dates)
                {
                    <li class="border m-2 border-primary rounded">
                        <a asp-controller="UserData" asp-action="IndexOwner" asp-route-date="@date.ToString("yyyy-MM-dd")" class="text-decoration-none list-group-item btn btn-outline-primary btn-lg px-5 py-3 fs-6 fw-bolder">
                            @date.ToString("yyyy-MM-dd")
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
    <!-- Lightbox container -->
    <div id="lightbox3">
        <span id="close-btn3" onclick="closeLightbox()">&times;</span>

        <!-- Main lightbox image -->
        <img id="lightbox-img3" src="" alt="lightbox image">

        <!-- Thumbnails container -->
        <div id="thumbnail-container3">
            <!-- Thumbnails will be added dynamically using JavaScript -->
        </div>

        <!-- Previous and Next buttons -->
        <button id="prev-btn3" onclick="changeImage(-1)">&lt; Prev</button>
        <button id="next-btn3" onclick="changeImage(1)">Next &gt;</button>
    </div>
