@using DiegoMoyanoProject.ViewModels.UserPdf ;
@model IndexOwnerUserPdfViewModel
<div class="container text-center">
    <h1 class="display-4">Reportes del @Model.SelectedDate.ToShortDateString()</h1>
</div>

<div class="container row">
    <div class="container text-center col-lg-4 col-md-6 col-sm-12">
        @if (Model.PdfData != null)
        {
            <form asp-controller="UserPdf" asp-action="OnGetDownloadFileFromFolder" method="post" enctype="multipart/form-data">
                <input type="hidden" name="pdf" value="@Convert.ToBase64String(Model.PdfData.Pdf)" />
                <button type="submit" class="btn btn-primary">
                    <img src="~/img/UserPdf/no_pdf.jpg" />
                    <p>Descargar Reporte</p>
                </button>
            </form>

        }
        else
        {
            <img src="~/img/UserPdf/HojaVacia.png"
                 alt="No pdf" class="img-fluid rounded border border-dark">
        }
        <ul class="action-list list-unstyled list-inline">
            @if (Model.PdfData != null)
            {
                <li><a asp-controller="UserPdf" asp-action="UpdatePdfForm" asp-route-date="@Model.SelectedDate.ToShortDateString()" asp-route-id="@Model.SelectedId" data-tip="edit" class="list-inline-item"><i class="fa fa-edit" aria-hidden="true"></i></a></li>
                <li><a asp-controller="UserPdf" asp-action="Delete" asp-route-date="@Model.SelectedDate.ToShortDateString()" asp-route-id="@Model.SelectedId" data-tip="delete" class="list-inline-item"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
            }
            else
            {
                if (Model.Dates.Count() > 0)
                {
                    <li><a asp-controller="UserPdf" asp-action="UpdatePdfForm" asp-route-date="@Model.SelectedDate" asp-route-id="@Model.SelectedId" data-tip="edit" class="list-inline-item"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
                }
            }
        </ul>
    </div>
    <div class="container text-center col-12">
        <ul class="list-group list-unstyled d-flex flex-row flex-wrap justify-content-center">
            <li class="border m-2 border-primary rounded"><a asp-controller="UserPdf" asp-action="Upload" asp-route-date="@DateTime.Today.ToShortDateString()" class="text-decoration-none list-group-item btn btn-outline-warning btn-lg px-5 py-3 fs-6 fw-bolder">Agregar nuevos datos</a></li>
        </ul>
    </div>
    @if (Model.Dates.Count() > 0)
    {
        <div class="container text-center">
            <ul class="list-group list-unstyled d-flex flex-row flex-wrap justify-content-center">
                @foreach (var modelDate in Model.Dates)
                {
                    <li class="border m-2 border-primary rounded">
                        <ul class="action-list list-unstyled list-inline">
                            <li>
                                <a asp-controller="UserPdf" asp-action="IndexOwner" asp-route-date="@modelDate.Date.ToString("yyyy-MM-dd")" asp-route-id="@modelDate.Id" class="text-decoration-none list-group-item btn btn-outline-primary btn-lg px-5 py-3 fs-6 fw-bolder">
                                    @modelDate.Date.ToString("yyyy-MM-dd")
                                </a>
                            </li>
                            <li><a asp-controller="UserPdf" asp-action="DeleteRow" asp-route-id="@Model.SelectedId" data-tip="delete" class="list-inline-item"><i class="fa fa-trash" aria-hidden="true"></i></a></li>

                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
    }

</div>

